<div class="container">
	
	<div class="section recommended-articles">
		<div class="header">Today's Recommendations</div>
		<div class="meta-sidebar">some random fucking test content that can be collapsible when needed for smaller screens.</div>
		<div class="articles">
			<div class="article">
				<div class="title">Some Title</div>
				<div class="subtitle">Some subtitle</div>
				<div class="short">Some short text of the article here...</div>
			</div>
			<div class="article">
				<div class="title">Some Title</div>
				<div class="subtitle">Some subtitle</div>
				<div class="short">Some short text of the article here...</div>
			</div>
			<div class="article">
				<div class="title">Some Title</div>
				<div class="subtitle">Some subtitle</div>
				<div class="short">Some short text of the article here...</div>
			</div>
		</div>
	</div>

	<div class="section following-articles">
		<div class="header">From People You Follow</div>
		<div class="meta-sidebar">some random meta-data sidebar content holder for random shit the user needs to know.</div>
		<div class="articles">
			<% @following_articles.each do |article| %>
				<div class="article">
					<a href="#"><span class="title"><%= article %></span></a>
				</div>
			<% end %>
		</div>
	</div>

</div>