<div class="profile-header">
	<%= image_tag @user.cover_image.url, :class => 'cover' if @user.cover_image.exists? %>
	<div class="cover-overlay"></div>
	<div class="user">
		<div class="info">
			<%= image_tag @user.avatar.url(:thumb), :class => 'avatar' %>
		</div>
	</div>
</div>