<div class="profile-header">
	<% if @user.cover_image == nil %>
		<%= image_tag @user.cover_image.url, :class => 'cover' %>
	<% else %>

	<% end %>
	<div class="cover-overlay"></div>
	<div class="user">
		<div class="info">
			<%= image_tag @user.avatar.url(:thumb), :class => 'avatar' %>
		</div>
	</div>
</div>