body {
  background-color:$bg-body;
}

.container {
  @include container(12 center);
}

.padded-top {
  display:block;
  position:relative;
  height:50px;
  background-color: transparent;
  width:100%;
}