.header {
	height:50px;
	background-color:#fff;
	.header-content {
		@include grid-row();
		.logo {
			height:50px;
		}
		.user-navigation {
			padding:5px 0px;
			.create-post {
				float:left;
				height:40px;
				width:40px;
				background-color:$primary-color;
				font-size:20px;
				color:#333;
				i {
					padding:12px;
				}
				&:hover {
					color:#fff;
					background-color:lighten($primary-color, 5%);
					cursor: pointer;
				}
			}
			.avatar{
				float:left;
				height:40px;
				width:40px;
			}
			ul {
				margin:10px 0px;
				float:left;
				list-style: none;

				li {
					&:first-of-type {
						border-right:2px solid rgba(51,51,51,0.4);
					}
					padding:0px 10px;
					float:left;
				}
			}
		}
		.guest-navigation {
			ul {
				list-style:none;
				margin: 10px 0px;
				float:left;
				li {
					float:left;
					margin-left:8px;
				}
			}
		}
	}
}