.padded-top {
  display:block;
  position:relative;
  height:50px;
  background-color: transparent;
  width:100%;
}
.header {
  height: 50px;
  background-color: #333;
  font-family: 'Lato', 'sans-serif';
  position:fixed;
  left:0;
  right:0;
  z-index:400;

  .header-content {
    height:50px;
    .logo {
      float:left;
      height:50px;
      img {
        margin-top:5px;
        margin-left:5px;
        width: 41px;
        height: 41px;
      }
    }
    
    // .navigation, .user-navigation, .guest-navigation {
    //   @include span-columns(5);
    //   height:50px;
    //   padding:0;
    //   ul {
    //     float:left;
    //     list-style:none;
    //     padding:10px 0px;
    //     li {
    //       padding:0px 10px;
    //       float:left;
    //     }
    //   }
    // }

    .navigation {
      float:left;
      display:block;
      margin-left:15px;
      height:50px;
      li {
        float:left;
        padding:17px 10px;
        a {
          font-size:14px;
          padding:10px 0px;
          color:#ccc;
          text-decoration:none;
          -webkit-transition: color 200ms ease;
          -moz-transition: color 200ms ease;
          -ms-transition: color 200ms ease;
          -o-transition: color 200ms ease;
          transition: color 200ms ease;
          &:hover {
            color:#fff;
            border-bottom:1px solid #333;
          }
        }
      }
    }

    // .search {
    //   @include span-columns(4);
    //   .search-box {
    //     display:block;
    //     font-size:14px;
    //     padding:4px 5px;
    //     margin:11px 0px;
    //     width:100%;
    //   }
    // }

    .user-nav {
      float:right;
      margin-right:5px;
      height:50px;
      .new-article {
        float:left;
        .ghost {
          margin:13px 0px;
          font-size:14px;
          color:#FFF;
          border-color:#FFF;
          float:left;
          text-decoration:none;
          &:hover {
            background-color:#FFF;
            color:#333;
          }
        }
        
      }
      .user-profile {
        float:right;
        margin-left:20px;
        .avatar {
          margin:5px 0px;
          float:right;
          height:40px;
          width:40px;
          border-radius:20px;
        }
        .dropdown {
          background-color:#fff;
          width:100px;
          display:none;
          opacity:0;
          position:absolute;
          top:50px;
          right:0;
        }
        &:hover {
          .dropdown {
            display:block;
            opacity: 1;
          }
        }
      }
    }

    // .user-navigation {
    //   @include span-columns(3);
    //   padding:5px 0px;
    //   .create-post {
    //     float:left;
    //     height: 40px;
    //     width: 40px;
    //     background-color:$primary-color;
    //     font-size:20px;
    //     color:#333;
    //     i {
    //       padding:12px;
    //     }
    //     &:hover {
    //       cursor:pointer;
    //       color:#FFF;
    //       background-color:lighten($primary-color, 5%);
    //     }
    //   }
    //   .avatar {
    //     float:left;
    //     height: 40px;
    //     width: 40px;
    //   }
    //   ul > li:first-of-type {
    //     border-right:2px solid rgba(51,51,51,0.4);
    //   }
    // }

  }


}