.btn, button, input[type="button"], input[type="submit"] {
  border:0;
  padding:5px 0px;
  font-size:14px;
  border-radius:0px;
  background-color:#333;

  // Ghost buttons
  &.ghost {
    border:1px solid;
    border-color:#333;
    color:#333;
  }

  // Sizes
  &.large {}
  &.medium {}
  &.small {}

  // Colors
  &.primary {
    color:#FFF;
    background-color:#333;
    border-color:#333;
    &:hover {
      background-color:darken(#333, 10%);
      color:#FFF;
    }
  }
  &.secondary {}

}