@import "extras/reset";

$susy: (
  columns: 12,
  gutters: 1/4,
  gutter-position: inside,
  container: 60em,
);

// Main Colors
$primary-color: #428bca;
$alert-color: #d9534f;
$success-color: #5cb85c;
$notice-color: #5bc0de;

// Other Colors
$bg-body: #EEE;
$bg-header: #333;

// Article Card Colors
$ac1-color: #FFF;