<% if flash[:error] %>
	<div data-alert id="alert-error" class="alert-box error">
		<%= flash[:error] %>
		<a class="close">x</a>
	</div>
<% end %>

<% if flash[:notice] %>
	<div data-alert id="alert-notice" class="alert-box notice">
		<%= flash[:notice] %>
		<a class="close">x</a>
	</div>
<% end %>

<% if flash[:success] %>
	<div data-alert id="alert-success" class="alert-box success">
		<%= flash[:success] %>
		<a class="close">x</a>
	</div>
<% end %>